---
title: Things and Stuff
---

  <div class="jumbotron">
  <div class="container">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>
      <a class="btn btn-primary btn-large">
        Learn more
      </a>
    </p>
  </div>
</div>
<div class="row">
  <% 4.times do |num| %>

      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x150" class="img-responsive" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique optio ex debitis itaque autem, dolores facere aut labore, sint, culpa dolorum illum aspernatur. Nulla, repudiandae reprehenderit. Commodi, aut accusantium minus!</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
  <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
        <img src="http://placehold.it/400x150" class="img-responsive" alt="...">
        <h2>Sub-Title Here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aperiam pariatur expedita neque eius ad fugit ipsum recusandae praesentium fugiat, velit impedit accusantium saepe quos quis, perspiciatis, autem officiis tenetur.</p>
    </div>
      <div class="col-md-6">
        <img src="http://placehold.it/400x150" class="img-responsive" alt="...">
        <h2>Sub-Title Here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aperiam pariatur expedita neque eius ad fugit ipsum recusandae praesentium fugiat, velit impedit accusantium saepe quos quis, perspiciatis, autem officiis tenetur.</p>
    </div>


  </div>

